/* _baseStyle.scss
 * Application specific routes using react-router
 * @Author: Dhanesh Pant
 */

/* footer copyright color  */
$copyright-color:#dd6464;
$Footer-Color: #dd6464;

 
@font-face {
   font-family: ralewayExtralight;
   src: url("../fonts/raleway-extralight.ttf");
} 
@font-face {
   font-family: ralewayRegular;
   src: url("../fonts/raleway-regular.ttf");
}
@font-face {
   font-family: ralewayMedium;
   src: url("../fonts/raleway-medium.ttf");
}
@font-face {
   font-family: ralewaySemibold;
   src: url("../fonts/raleway-semibold.ttf");
}
@font-face {
   font-family: openSansSemiBold;
   src: url("../fonts/OpenSans-Semibold.ttf");
}
@font-face {
   font-family: ralewayBold;
   src: url("../fonts/raleway-bold.ttf");
}


 body {
  background-color: #f1f2f0;
  color: #35342f;
  display: flex;
  justify-content: center;
  font-family: ralewayRegular;
}




@mixin copyright{
    color  : $Footer-Color;
}

@mixin label-plain
{   
    font-family: ralewaySemibold;
    font-size: 16px;
    color       : #37bbe4;
    text-align  : left; 
    cursor      : default;
    line-height : normal;
}

@mixin label-semi-bold
{   
    @include label-plain; 
    font-family : openSansSemiBold ;
    font-size   : 16px;
}


@mixin label-bold
{   
    font-family: ralewaySemibold;
    font-size   : 18px;
    color       : #37bbe4;
    text-align  : left; 
    cursor      : default;
    line-height : normal;

}

